.portfolio-item > a {
  display: flex;
  align-items: center;
  gap: 0;
}

.thumb {
  width: 80px;
  height: auto;
  order: 1;
  margin-right: 1rem;
}

.portfolio-item h2 {
  margin-top: 1.2rem;
  order: 2; /* title */
}

.gif-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: .5rem;
}

.gif-row img {
  height: 270px;
  width: auto;
}
